ul{
    list-style: none;
    padding-left: 10%;
}
.page_title{
 font-size: xx-large;
 margin-top: 1%;
 margin-bottom:5%;
}
.breadcrumb
{
    font-family: fantasy;
    font-size: small;
}
.image{
    padding-left:30%
}
body{
    background: rgb(235,222,207);
    background: radial-gradient(circle, rgba(235,222,207,1) 0%, rgba(226,188,134,1) 100%);
}